.icon {
    padding: 0 14px;   
}

.table-container {
    margin: 1%;
}

.input-file-button {
    margin-bottom: 1%;
}

table {
    padding: 1%;
    width: 100%;
}

mat-form-field {
    margin-right: 1%;
    width: 15%;
}

