<mat-toolbar color="primary">
  <span>FrontEnd Admin</span>
  <span class="spacer"></span>
  <mat-icon class="icon">menu</mat-icon>
</mat-toolbar>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Grafico de Evolución de Usuarios</mat-card-title>
    <mat-card-subtitle>Cambio de las dimensiones a lo largo de las sesiones</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Integrante</mat-label>
        <mat-select placeholder="Seleccionar integrante" [(ngModel)]="integranteSeleccionado" name="integrante">
          <mat-option *ngFor="let integrante of listadoIntegrantes" [value]="integrante">
            {{integrante}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nivel Mostrar</mat-label>
        <mat-select placeholder="Seleccionar Nivel" [(ngModel)]="nivelSeleccionado" name="nivel">
          <mat-option *ngFor="let nivel of listadoNiveles" [value]="nivel">
            {{nivel}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" (click)="onIntegranteSeleccionado()">Cargar Datos</button>
    </form>

    <div [hidden]="!mostrarChartConductas">
      <canvas id="conductas">{{ chartConductas }}</canvas>
    </div>

    <div [hidden]="!mostrarChartReacciones">
      <canvas id="reacciones">{{ chartReacciones }}</canvas>
    </div>

    <div [hidden]="!mostrarChartRoles">
      <canvas id="roles">{{ chartRoles }}</canvas>
    </div>

    <div [hidden]="!mostrarChartSymlog">
      <canvas id="symlog">{{ chartSymlog }}</canvas>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Clasificación de archivos CSV</mat-card-title>
    <mat-card-subtitle>Adjuntar un ZIP con los archivos correspondientes</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <input type="file" (change)="onFileSelectedCsv($event)" class="input-file-button">
    <form>
      <mat-form-field>
        <mat-label>Cantidad de mensajes</mat-label>
        <input matInput placeholder="Ingrese cantidad de mensajes" [(ngModel)]="cantidadMensajesCsv" name="cantidadMensajesCsv">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Seleccionar clasificador" [(ngModel)]="clasificadorSeleccionadoCsv" name="clasificador">
          <mat-option *ngFor="let clasificador of clasificadores" [value]="clasificador">
            {{clasificador}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" (click)="clasificacionCSV()">Clasificar mensajes</button>
    </form>

  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Clasificación de archivos ARFF</mat-card-title>
    <mat-card-subtitle>Dentro del ZIP, además de los ARFF, incluir id-timestamp.csv</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <input type="file" (change)="onFileSelectedArff($event)" class="input-file-button">
    <form>
      <mat-form-field>
        <mat-label>Cantidad de mensajes</mat-label>
        <input matInput placeholder="Ingrese cantidad de mensajes" [(ngModel)]="cantidadMensajesArff" name="cantidadMensajesArff">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Seleccionar clasificador" [(ngModel)]="clasificadorSeleccionadoArff" name="clasificador">
          <mat-option *ngFor="let clasificador of clasificadores" [value]="clasificador">
            {{clasificador}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" (click)="clasificacionARFF()">Clasificar mensajes</button>
    </form>

  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Clasificación de Takeout</mat-card-title>
    <mat-card-subtitle>Incluir todos los JSON a clasificar dentro del ZIP</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <input type="file" (change)="onFileSelectedTakeout($event)" class="input-file-button">
    <form>
      <mat-form-field>
        <mat-label>Cantidad de mensajes</mat-label>
        <input matInput placeholder="Ingrese cantidad de mensajes" [(ngModel)]="cantidadMensajesTakeout" name="cantidadMensajesTakeout">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Seleccionar clasificador" [(ngModel)]="clasificadorSeleccionadoTakeout" name="clasificador">
          <mat-option *ngFor="let clasificador of clasificadores" [value]="clasificador">
            {{clasificador}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" (click)="clasificacionTakeout()">Clasificar mensajes</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Clasificación Externa</mat-card-title>
    <mat-card-subtitle>Conexión a MongoDB para clasificar los mensajes extraídos de la misma</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>URI de la Base de Datos</mat-label>
        <input matInput placeholder="Ingrese URI" [(ngModel)]="uriBaseDatos" name="uriBaseDatos">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre de la Base de Datos</mat-label>
        <input matInput placeholder="Ingrese nombre de la base de datos" [(ngModel)]="nombreBaseDatos" name="nombreBaseDatos">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cantidad de conversaciones</mat-label>
        <input matInput placeholder="Ingrese cantidad de chats" [(ngModel)]="cantidadConversaciones" name="cantidadConversaciones">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cantidad de mensajes</mat-label>
        <input matInput placeholder="Ingrese cantidad de mensajes" [(ngModel)]="cantidadMensajesLotr" name="cantidadMensajesLotr">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Seleccionar clasificador" [(ngModel)]="clasificadorSeleccionadoLotr" name="clasificador">
          <mat-option *ngFor="let clasificador of clasificadores" [value]="clasificador">
            {{clasificador}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" (click)="clasificacionLotr()">Clasificar mensajes</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Consulta de Resultados</mat-card-title>
    <mat-card-subtitle>Acceso a la base de datos con las clasificaciones</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form>
      <mat-form-field style="width: 30%">
        <mat-label>Nombre de tabla</mat-label>
        <mat-select placeholder="Seleccionar tabla" [(ngModel)]="nombreTabla" name="tabla">
          <mat-option *ngFor="let tabla of tablas" [value]="tabla">
            {{tabla}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 30%">
        <mat-label>Nombre de integrante</mat-label>
        <input matInput placeholder="Ingresar nombre de integrante" [(ngModel)]="nombreIntegrante" name="nombreIntegrante">
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" (click)="consultaResultados()">Consultar Base de Datos</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Otras Acciones</mat-card-title>
    <mat-card-subtitle>Relacionadas a la base de datos</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field style="width: 20%">
        <mat-label>Nombre de la Tabla</mat-label>
        <input matInput placeholder="Ingrese nombre de la tabla" [(ngModel)]="nombreTablaGuardar" name="nombreTablaGuardar">
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" (click)="guardarResultados()">Guardar Resultados</button>
      <button mat-raised-button type="button" color="primary" (click)="actualizarNombresTabla()" style="margin-left: 2%">Actualizar tablas</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="table-card-container">
  <mat-card-header *ngIf="dataSource">
    <mat-card-title>Tabla de Conductas</mat-card-title>
    <mat-card-subtitle>Las conductas van del 1 al 12 según indica el Interaction Process Analysis (IPA)</mat-card-subtitle>
  </mat-card-header>

  <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="integrante">
      <th mat-header-cell *matHeaderCellDef class="header-nombre" mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{element.integrante}}</td>
    </ng-container>

    <ng-container matColumnDef="C1">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C1</th>
      <td mat-cell *matCellDef="let element">{{element.C1}}</td>
    </ng-container>

    <ng-container matColumnDef="C2">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C2</th>
      <td mat-cell *matCellDef="let element">{{element.C2}}</td>
    </ng-container>

    <ng-container matColumnDef="C3">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C3</th>
      <td mat-cell *matCellDef="let element">{{element.C3}}</td>
    </ng-container>

    <ng-container matColumnDef="C4">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C4</th>
      <td mat-cell *matCellDef="let element">{{element.C4}}</td>
    </ng-container>

    <ng-container matColumnDef="C5">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C5</th>
      <td mat-cell *matCellDef="let element">{{element.C5}}</td>
    </ng-container>

    <ng-container matColumnDef="C6">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C6</th>
      <td mat-cell *matCellDef="let element">{{element.C6}}</td>
    </ng-container>

    <ng-container matColumnDef="C7">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C7</th>
      <td mat-cell *matCellDef="let element">{{element.C7}}</td>
    </ng-container>

    <ng-container matColumnDef="C8">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C8</th>
      <td mat-cell *matCellDef="let element">{{element.C8}}</td>
    </ng-container>

    <ng-container matColumnDef="C9">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C9</th>
      <td mat-cell *matCellDef="let element">{{element.C9}}</td>
    </ng-container>

    <ng-container matColumnDef="C10">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C10</th>
      <td mat-cell *matCellDef="let element">{{element.C10}}</td>
    </ng-container>

    <ng-container matColumnDef="C11">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C11</th>
      <td mat-cell *matCellDef="let element">{{element.C11}}</td>
    </ng-container>

    <ng-container matColumnDef="C12">
      <th mat-header-cell *matHeaderCellDef class="header-conducta" mat-sort-header>C12</th>
      <td mat-cell *matCellDef="let element">{{element.C12}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsConductas"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsConductas;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
</mat-card>


<mat-card class="table-card-container">
  <mat-card-header *ngIf="dataSource">
    <mat-card-title>Tabla de Reacciones</mat-card-title>
    <mat-card-subtitle>Las conductas se agrupan de a tres, resultando en cuatro reacciones</mat-card-subtitle>
  </mat-card-header>

  <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="integrante" class="header-nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{element.integrante}}</td>
    </ng-container>

    <ng-container matColumnDef="R1">
      <th mat-header-cell *matHeaderCellDef class="header-reaccion" mat-sort-header>R1</th>
      <td mat-cell *matCellDef="let element">{{element.R1}}</td>
    </ng-container>

    <ng-container matColumnDef="R2">
      <th mat-header-cell *matHeaderCellDef class="header-reaccion" mat-sort-header>R2</th>
      <td mat-cell *matCellDef="let element">{{element.R2}}</td>
    </ng-container>

    <ng-container matColumnDef="R3">
      <th mat-header-cell *matHeaderCellDef class="header-reaccion" mat-sort-header>R3</th>
      <td mat-cell *matCellDef="let element">{{element.R3}}</td>
    </ng-container>

    <ng-container matColumnDef="R4">
      <th mat-header-cell *matHeaderCellDef class="header-reaccion" mat-sort-header>R4</th>
      <td mat-cell *matCellDef="let element">{{element.R4}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsReacciones"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsReacciones;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
</mat-card>

<mat-card class="table-card-container">
  <mat-card-header *ngIf="dataSource">
    <mat-card-title>Tabla de Roles</mat-card-title>
    <mat-card-subtitle>Cada rol se infiere a partir de las conductas asociadas</mat-card-subtitle>
  </mat-card-header>
  <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="integrante" class="header-nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{element.integrante}}</td>
    </ng-container>

    <ng-container matColumnDef="ROL_1">
      <th mat-header-cell *matHeaderCellDef class="header-rol" mat-sort-header>ROL_1</th>
      <td mat-cell *matCellDef="let element">{{element.ROL_1}}</td>
    </ng-container>

    <ng-container matColumnDef="ROL_2">
      <th mat-header-cell *matHeaderCellDef class="header-rol" mat-sort-header>ROL_2</th>
      <td mat-cell *matCellDef="let element">{{element.ROL_2}}</td>
    </ng-container>

    <ng-container matColumnDef="ROL_3">
      <th mat-header-cell *matHeaderCellDef class="header-rol" mat-sort-header>ROL_3</th>
      <td mat-cell *matCellDef="let element">{{element.ROL_3}}</td>
    </ng-container>

    <ng-container matColumnDef="ROL_4">
      <th mat-header-cell *matHeaderCellDef class="header-rol" mat-sort-header>ROL_4</th>
      <td mat-cell *matCellDef="let element">{{element.ROL_4}}</td>
    </ng-container>

    <ng-container matColumnDef="ROL_5">
      <th mat-header-cell *matHeaderCellDef class="header-rol" mat-sort-header>ROL_5</th>
      <td mat-cell *matCellDef="let element">{{element.ROL_5}}</td>
    </ng-container>

    <ng-container matColumnDef="ROL_6">
      <th mat-header-cell *matHeaderCellDef class="header-rol" mat-sort-header>ROL_6</th>
      <td mat-cell *matCellDef="let element">{{element.ROL_6}}</td>
    </ng-container>

    <ng-container matColumnDef="ROL_7">
      <th mat-header-cell *matHeaderCellDef class="header-rol" mat-sort-header>ROL_7</th>
      <td mat-cell *matCellDef="let element">{{element.ROL_7}}</td>
    </ng-container>

    <ng-container matColumnDef="ROL_8">
      <th mat-header-cell *matHeaderCellDef class="header-rol" mat-sort-header>ROL_8</th>
      <td mat-cell *matCellDef="let element">{{element.ROL_8}}</td>
    </ng-container>

    <ng-container matColumnDef="ROL_9">
      <th mat-header-cell *matHeaderCellDef class="header-rol" mat-sort-header>ROL_9</th>
      <td mat-cell *matCellDef="let element">{{element.ROL_9}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsRoles"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsRoles;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
</mat-card>

<mat-card class="table-card-container">
  <mat-card-header *ngIf="dataSource">
    <mat-card-title>Tabla de Symlog</mat-card-title>
    <mat-card-subtitle>Los indicadores Symlog se obtienen a través de un mapeo de las reacciones</mat-card-subtitle>
  </mat-card-header>
  <table mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="integrante" class="header-nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{element.integrante}}</td>
    </ng-container>

    <ng-container matColumnDef="Dominante">
      <th mat-header-cell *matHeaderCellDef class="header-symlog" mat-sort-header>Dominante</th>
      <td mat-cell *matCellDef="let element">{{element.Dominante}}</td>
    </ng-container>

    <ng-container matColumnDef="Sumiso">
      <th mat-header-cell *matHeaderCellDef class="header-symlog" mat-sort-header>Sumiso</th>
      <td mat-cell *matCellDef="let element">{{element.Sumiso}}</td>
    </ng-container>

    <ng-container matColumnDef="Amistoso">
      <th mat-header-cell *matHeaderCellDef class="header-symlog" mat-sort-header>Amistoso</th>
      <td mat-cell *matCellDef="let element">{{element.Amistoso}}</td>
    </ng-container>

    <ng-container matColumnDef="NoAmistoso">
      <th mat-header-cell *matHeaderCellDef class="header-symlog" mat-sort-header>NoAmistoso</th>
      <td mat-cell *matCellDef="let element">{{element.NoAmistoso}}</td>
    </ng-container>

    <ng-container matColumnDef="Tarea">
      <th mat-header-cell *matHeaderCellDef class="header-symlog" mat-sort-header>Tarea</th>
      <td mat-cell *matCellDef="let element">{{element.Tarea}}</td>
    </ng-container>

    <ng-container matColumnDef="SocioEmocional">
      <th mat-header-cell *matHeaderCellDef class="header-symlog" mat-sort-header>SocioEmocional</th>
      <td mat-cell *matCellDef="let element">{{element.SocioEmocional}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsSymlog"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsSymlog;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
</mat-card>