.icon {
    padding: 0 14px;   
}

.table-card-container {
    margin: 1%;
}

.input-file-button {
    margin-bottom: 1%;
}

.header-nombre {
    width: 20%;
}

.header-conducta {
    width: 5%;
}

.header-reaccion {
    width: 15%;
}

.header-rol {
    width: 8%;
}

.header-symlog {
    width: 10%;
}

table {
    padding: 1%;
    width: 100%;
}

mat-form-field {
    margin-right: 1%;
    width: 15%;
}

